<!DOCTYPE HTML>
<html>
	<head>
		<title>Map</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"/>
		<noscript><link rel="stylesheet" href=" {{url_for('static', filename='css/noscript.css')}} " /></noscript>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
		<script>
		function calculateAndDisplayRoute(directions_service, directions_display, origin, destination){
			directions_service.route({
				origin: origin,
				destination: destination,
				travelMode: google.maps.TravelMode.DRIVING
			},
			function(response, status){
				if (status == google.maps.DirectionsStatus.OK){
					directions_display.setDirections(response);
				}
				else{
					window.alert('Directions request failed with status: ' + status);
				}
			});
		}
		</script>
		<script>
		let map;
		let markers = [];
		function initMap(){
			var origin = new google.maps.LatLng({{map.origin.lat}}, {{map.origin.lng}})
			var destination = new google.maps.LatLng({{map.destination.lat}}, {{map.destination.lng}})
			var map =
			new google.maps.Map(document.getElementById('map'),
			{
				center: {lat: {{map.origin.lat}}, lng: {{map.origin.lng}} },
				zoom:16
			});

			var directions_service = new google.maps.DirectionsService;
    		var directions_display = new google.maps.DirectionsRenderer({
      			map: map
    		});

			console.log("http://mrobert.pythonanywhere.com/waypoints/" + {{map.map_id|string }})
			fetch( "http://mrobert.pythonanywhere.com/waypoints/" + {{map.map_id|string }} )
			.then(function(response) {
			    return response.json()
			})
			.then(function(json) {
				var l = json.waypoints.length;
				for (i = 0; i < l; i++){
					const marker = new google.maps.Marker({
						position: new google.maps.LatLng(parseFloat(json.waypoints[i].lat), parseFloat(json.waypoints[i].lng)),
						map: map,
						icon: 'http://www.google.com/mapfiles/dd-end.png'
					});
					markers.push(marker)
				}
			})
			.catch(function(){
			    window.alert('An error occurred, we are unable to retreive waypoints.');
			});

			calculateAndDisplayRoute(directions_service, directions_display, origin, destination);
		};

        function addMarker(location) {
            const marker = new google.maps.Marker({
                position: location,
                map: map,
            });
          markers.push(marker);
        }
        function clearMarkers() {
          setMapOnAll(null);
        }
        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        function setMapOnAll(map) {
          for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
          }
        }

        function showMarkers() {
          setMapOnAll(map);
        }
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"> </script>
	</head>
	<body>
	<div class="container">
		<div id="map" style="width: 100%; height:800px;"></div>
	</div>
	<ul class="actions">
		<li><a href="/#two" class="button">Back</a></li>
	</ul>
	</body>
</html>